
@model ModelStateDictionary

@if (!Model.IsValid)
{
    <div class="red-text card-panel">
        <div>Some validations/errors have occurred:</div>
        <ul class="browser-default">
            @foreach(var modelError in Model.SelectMany(keyValuePair=> keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>

    </div>


}
